.base {
  display: grid;
  justify-content: center;
}

.calculator-grid {
  display: grid;
  margin-top: 5rem;
  justify-content: center;
  grid-template-columns: repeat(6, 8rem);
  grid-template-rows: minmax(7rem, auto) repeat(7, 7rem);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  background-color: rgba(255, 255, 255, 0.85);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(123, 254, 248, 0.8);
}

.span-two {
  grid-column: span 2;
}

.span-three {
  grid-column: span 3;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(255, 255, 255, 0.55);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
  align-items: flex-end;
  word-wrap: break-word;
  word-break: break-all;
}

.output .operand {
  color: rgb(0, 0, 0);
  font-size: 2rem;
}

.graph {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

line {
  color: rgb(255, 255, 255);
  stroke: rgb(255, 255, 255);
}
